<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HOME</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style1.css">
    </head>
    <body>
      <div class="register-box">
        <h1>LOTTERY HOME</h1>
        <form action="/enternew" method="get">
          <input class="btn" type="submit" value="REGISTER"><br>
        </form>
        <form action="/buy" method="get">
          <input class="btn" type="submit" value="PURCHASE TICKET"><br>
        </form>
        <form action="/part" method="get">
          <input class="btn" type="submit" value="PARTICIPATE IN NEXT EVENT"><br>
        </form>
        <form action="/event" method="get">
          <input class="btn" type="submit" value="SHOW NEXT EVENT"><br>
        </form>
        <form action="/winner" method="get">
          <input class="btn" type="submit" value="SHOW WINNERS"><br>
        </form>
      </div>
    </body>
</html>
